<div class="tab-title">
  <ul class="clearfix">
    <li>
      <a href="<%= welcome_about_us_path %>" class="active">About Us</a>
    </li>
    <li>
      <a href="#" >Achievements</a>
    </li>
    <li>
      <a href="#">Academics</a>
    </li>
    <li>
      <a href="#">Facilities</a>
    </li>
    <li>
      <a href="">Gallery</a>
    </li>
    <li>
      <a href="<%= welcome_prospectus_path %>" target="_blank">Prospectus</a>
    </li>
  </ul>
</div>
<style type="text/css">
  .tab-title ul li{
    list-style: none;
  }
</style>